CORS_ORIGIN=
JWT_SECRET=
JWT_REFRESH_SECRET=

SERVERNODE=
USERID=
PASSWORD=
CURRENTSCHEMA=
POOLING=
CONNECTIONLIFETIME=
QUOTATION_DB_SCHEMA=
FINANCING_DB_SCHEMA=
FINANCING_TABLE_SCHEMA=
SALES_ORDER_DB_SCHEMA=
FINANCING_GET_LENDERS_SP=
FINANCING_DEFAULT_QRYTYPE=
SO_SQ_API_URL=https://sq.neweast.cloud/postdms/
# DMS quotation endpoint
DMS_SALES_QUOTATION_API_URL=https://sq.neweast.cloud/api/Values/CreateDMSSalesQuotation
# DMS sales order endpoint
DMS_SALES_ORDER_API_URL=https://sq.neweast.cloud/api/Values/CreateDMSSalesORder
SO_SQ_REPORT_URL=
SO_SQ_FROM_DATE=
SO_SQ_LOTP=
SO_SQ_COMPANY=
DMS_QUEUE_USER_ID=
SO_SQ_COMPANY_BI=
SO_SQ_ORDER_SOURCE=DMS-EORDER
SO_SQ_DEFAULT_TAX_CODE=
SO_SQ_DEFAULT_UOM=
CONVERT_SALES_DOC_API_URL=http://20.74.153.184:9669
CONVERT_SALES_DOC_COMPANY_DB=NEKSAISUZU
CONVERT_SALES_DOC_OPTION=P
CONVERT_SALES_DOC_BASE_REF=DocNum
