CORS_ORIGIN=
JWT_SECRET=
JWT_REFRESH_SECRET=

SERVERNODE=
USERID=
PASSWORD=
CURRENTSCHEMA=
POOLING=
CONNECTIONLIFETIME=
QUOTATION_DB_SCHEMA=
FINANCING_DB_SCHEMA=
FINANCING_TABLE_SCHEMA=
SALES_ORDER_DB_SCHEMA=
FINANCING_GET_LENDERS_SP=
FINANCING_DEFAULT_QRYTYPE=
